body {
  margin: 0;
  animation: changeBg 7s linear infinite;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
}

@keyframes changeBg {
  0% {
    background-color: black;
  }

  50% {
    background-color: darkgray;
  }
  100% {
    background-color: black;
  }
}

.image {
  background-image: url(https://s3-prod.pionline.com/s3fs-public/Milwaukee%20Skyline_i.jpg);
  height: 20vw;
  width: 100%;
  background-size: 100% 100%;
  /* note: if you want to change fit the background image to the background size, use 100% parameter for both */
}

.header {
  padding-top: 50px;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}
