body {
  animation: changeBg 10s linear infinite;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  font-family: Arial;
}

@keyframes changeBg {
  0% {
    background-color: black;
  }

  50% {
    background-color: darkgray;
  }
  100% {
    background-color: black;
  }
}
