body {
  margin: 0;
  animation: changeBg 7s linear infinite;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
}

@keyframes changeBg {
  0% {
    background-color: black;
  }

  50% {
    background-color: darkgray;
  }
  100% {
    background-color: black;
  }
}

.image {
  background-image: url(https://s3-prod.pionline.com/s3fs-public/Milwaukee%20Skyline_i.jpg);
  height: 20vw;
  width: 100%;
  background-size: 100% 100%;
  /* note: if you want to change fit the background image to the background size, use 100% parameter for both */
}

.header {
  padding-top: 50px;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}
*{ margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

/* //GAME CSS// */

body { 
  height: 100vh;
  width: 100vw; 

}

.backgroun { 
  height: 100vh;
  width: 100vw; 
  background-color: darkred

}

.bird { 
  height: 90px;
  width: 90px;
  position: fixed; 
  top:40vh;
  left: 30vw; 
  z-index: 100;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  height: 70vh;
  width: 6vw;
  background-color: rgb(100, 6, 6);

}
.message { 
  position:fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: black; 
  top: 12vh;
  left: 20vw; 
  text-align: center; 

}

.score { 
  position: fixed; 
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: goldenrod;
  top: 0;
  left: 0;
}

.score_val { 
  color:gold; 
}

/* //END GAME// */






